@font-face {
  font-family: "Noto Sans Japanese";
  src: url("_NotoSansCJKjp-Regular.woff2") format("woff2");
}

.card {
  font-family: "Noto Sans Japanese";
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 0.9em;
  color: var(--fg-subtle, #bbb);
}

.spacer {
  height: 1em;
}

.kana-only {
  font-size: 1.4em;
}

.kanji {
  font-size: 2em;
}

.japanese-note {
  font-size: 0.8em;
}

ruby {
  display: inline-block;
  margin-right: -0.2em;
}

span.rb {
  display: block;
  line-height: 1.2em;
}

span.rt {
  display: block;
  position: relative;
  line-height: 1.3em;
}

.furigana {
  color: var(--fg, #ddd);
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: -3px;
  margin-right: -3px;
}

.hidden {
  background: var(--fg, #ddd);
  border: 1px solid var(--fg, #ddd);
}

.visible {
  background: none;
  border: 1px solid transparent;
}
