{% if verb_group %}
<div class="spacer-small"></div>
<p class="heading">Verb group:</p>
<p>
  {{ verb_group | capitalize }}{% if conjugations %}
  <a class="show-conjugations" href="#">(show)</a>{% endif %}
</p>
{% if conjugations %}
<table class="conjugation-table" style="display: none">
  <thead>
    <tr>
      <th>Form</th>
      <th>Conjugation</th>
    </tr>
  </thead>
  <tbody>
    {% for form, conjugation in conjugations.items() %}
    <tr>
      <td>
        <div class="conjugation-name">
          <div>{{ conjugation_display_names[form] }}</div>
          <a class="jpdb-link" href="{{ conjugation_links[form] }}">?</a>
        </div>
      </td>
      <td>{{ conjugation }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
  const showConjugationsLink = document.querySelector(".show-conjugations");
  let conjugationsVisible = false;
  showConjugationsLink.addEventListener("click", function (event) {
    event.preventDefault();
    const conjugationsDiv = document.querySelector(".conjugation-table");
    if (conjugationsVisible) {
      conjugationsVisible = false;
      conjugationsDiv.style.display = "none";
      showConjugationsLink.textContent = "(show)";
    } else {
      conjugationsVisible = true;
      conjugationsDiv.style.display = "inline-block";
      showConjugationsLink.textContent = "(hide)";
    }
  });
</script>
{% endif %} {% endif %}
